* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

h1 {
  background: #602121;
  color: #fff;
  padding: 30px;
  margin: 0 0 30px;
}

h1 span {
  display: block;
  max-width: 800px;
  margin: auto;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 800px;
  margin: auto;
  padding: 0 30px;
  box-sizing: border-box;
}

h2 {
  margin-top: 0;
}

h4 {
  margin: 0;
}

.make-list {
  height: fit-content;
  border: 1px solid #333;
  border-radius: 5px;
  padding: 0 5px;
  background: #eee;
  flex-basis: 25%;
}

.make-list a {
  display: block;
  padding: 5px;
  text-decoration: none;
  border-bottom: 1px solid #333;
  color: #602121;
}

.make-list a:last-child {
  border-bottom: none;
}

.error {
  color: red;
}

.car-detail {
  padding: 16px;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 4px;
}

.car-detail__description {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.car-detail__description--make {
  color: white;
  background-color: #602121;
}

.car-list {
  flex-basis: 75%;
}

.car-list__details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px 16px;
  margin-right: 32px;
}

@media only screen and (max-width: 600px) {
  .content {
    display: flex;
    flex-direction: column;
  }

  .make-list {
    flex-basis: 0;
    width: 100%;
  }

  .car-list {
    flex-basis: 0;
    width: 100%;
    margin: 0 0 32px 0;
  }
};